[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ptpython = "*"
pymongo = "*"
mongoengine = "*"
xlrd = "*"
openpyxl = "*"
attrs = "*"
flask = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.6"
